<li>
    {% if include.file %}
        <a href="{{ include.file | prepend: "/assets/" | prepend:site.baseurl }}">
    {% endif %}
    {% if include.url %}
        <a href="{{ include.url }}">
    {% endif %}
        <p class="title">
            {% if include.year %}
                <date>{{ include.year }}</date>
            {% endif %}
            {{ include.title }}
        </p>
        <p>{{ include.authors }}</p>
        {% if include.note %}
            <p>{{ include.note }}</p>
        {% endif %}
    </a>
</li>
