article {
    // The aside
    aside {
        // General display settings
        display: block;
        text-align: center;
        margin: .5em 0 1em 2em;
        padding: 0;
        float: right;
        width: 170px;

        // Image of me
        img {
            width: 170px;
            margin: 0;
        }

        // Links to various services
        a {
            display: inline-block;
            height: 25px;
            width: 30px;
            background-size: 18px 18px;
            background-position: 6px 3.5px;
            background-repeat: no-repeat;
            background-color: $dark;
            border-radius: 5px;

            &+a { margin-left: 5px; }

            &#cv {
                background-image: url($baseurl + "/assets/images/icons8-cv-white.png");
                &:hover {
                    background-image: url($baseurl + "/assets/images/icons8-cv-blue.png");
                }
            }
            &#mail {
                background-image: url($baseurl + "/assets/images/icons8-mail-white.png");
                &:hover {
                    background-image: url($baseurl + "/assets/images/icons8-mail-blue.png");
                }
            }
            &#scholar {
                background-image: url($baseurl + "/assets/images/icons8-scholar-white.png");
                &:hover {
                    background-image: url($baseurl + "/assets/images/icons8-scholar-blue.png");
                }
            }
            &#github {
                background-image: url($baseurl + "/assets/images/icons8-github-white.png");
                &:hover {
                    background-image: url($baseurl + "/assets/images/icons8-github-blue.png");
                }
            }
            &#linkedin {
                background-image: url($baseurl + "/assets/images/icons8-linkedin-white.png");
                &:hover {
                    background-image: url($baseurl + "/assets/images/icons8-linkedin-blue.png");
                }
            }
            &:hover {
                background-color: $light;
            }
        }
    }
}